/*border*/

hr.pic_divider {
    border-top: 5px solid rgb(173, 129, 70);
}

.paragraph_font {
    font-size: 1rem;
    font-weight: 300;
}

p.edu_title {
    font-weight: bold;
    font-size: 1.5rem;
}

p.edu_subtitle{
    font-style: italic;
}

p.degree{
    font-style: italic;
    font-weight: bold;
}

p.gpa{
    font-weight: bold;
}

p.exp_title{
    font-weight: bold;
    font-size: 1.75rem;
}

p.exp_subtitle{
    font-style: italic;
    font-size: 1.25rem;
}

p.exp_text{
    font-size: 1.25rem;;
}

p.org_title{
    font-size: 1.5rem;
    font-weight: 400;
}

p.org_subtitle{
    font-style: italic;
    font-size: 1rem;
}